/*@font-face{
font-family:'CalvertMT';
font-style:normal;
src:local('Calvert'), local('CalvertMT'), url(../fonts/calvert.woff)format('woff2');
}*/
@font-face {
  font-family: 'CalvertMT';
  src: url('../fonts/CalvertMT/CalvertMT.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CalvertMT';
  src:  url('../fonts/CalvertMT/CalvertMT.woff')  format('woff2'), url('../fonts/CalvertMT/CalvertMT.ttf')  format('truetype'), url('../fonts/CalvertMT/CalvertMT.svg#CalvertMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ---------- typography & comon classes ---------- */
html,body{font-family:'Open Sans',sans-serif;font-size:16px;color:#122435;background-color:#132436;}

table{
font-size:.9em;
}

th{
font-weight:bold;
text-transform:uppercase;
background:#bbdced;
border:3px solid #fff!important;
}

td{border:3px solid #fff;}

table tr > td:last-child{
font-weight:700;
max-width:50%;
}

table > tr:hover > td{
background:#fff!important;
}

.invisible{visibility:hidden;}
.noborder{border:none 0 transparent;}
.noshadow{box-shadow:none;text-shadow:none;}
.left{float:left;}
.light{font-weight:100!important;}
.semibold{font-weight:500!important;}
.bold{font-weight:700!important;}
img{max-width:100%;height:auto;}


/* ---------- structure ---------- */
#wrapper{
margin-left:0;
padding-left:0;
padding-right:0;
overflow:hidden;
}

#holder{
transition:margin-left .5s, margin-right .5s;
}

.active-menu #holder{
margin-left:150px;
margin-right:-150px;
}

#header > .wrapper, .main-content > .wrapper, #footer > .wrapper{
max-width:1300px;
margin-left:2.6em;
}

nav{
position:fixed!important;
margin-left:-150px;
padding:0!important;
height:100%;
width:150px!important;
background:#132436;
z-index:1;
}

nav .menu-title{
position:fixed;
left:0px;
margin:0;
width:0;
height:0;
text-indent:-9999em;
background:#132436;
}

nav .menu-title:before{
content:"";
display:block;
float:left;
margin:3px 0px 0px 5px;
height:40px;
width:40px;
cursor:pointer;
background:url('../imgs/icons.png') no-repeat scroll -371px -2px #132436;
}

nav ul{
margin:53px 0 0;
padding:0;
list-style:none;
}

nav a{
display:block;
padding:.7em .9em;
text-decoration:none!important;
text-transform:uppercase;
color:#fff;
}

nav a.active{
color:#222;
background:#23a8f5;
}


/* ---------- page ---------- */
.page-header{
padding-top:40px;
padding-bottom:20px;
margin:0;
background:#435d7b;
}

#site-title, #description{
font-family:'CalvertMT' , sans-serif;
color:#fff;
text-transform:uppercase;
}

#site-title{
font-size:4em;
line-height:.96;
}

#description{
display:inline;
padding:0 .1em;
font-size:.8em;
color:#484c50;
}

#description span{
background:#fff;
clear:left;
display:inline;
float:left;
line-height:1.4;
margin-bottom:.2em;
}

section.main-content{
padding-top:2em;
background:#fff;
}

/* Posts */
.article{
margin:0 0 2.2em;
padding:0 0 1em;
}

.article .article-title, .page.article .article-subtitle{
padding-bottom:.2em;
color:#3b546b;
font-size:2.2em;
font-family:'CalvertMT', sans-serif;
border-bottom:1px solid #b0afaf;
}

.article .article-title a{
color:#3b546b;
}

.article.page{
border-bottom:0 none;
}

.article.page .article-title{
margin-bottom:.2em;
padding-bottom:0;
border-bottom:0;
}

.article.page .article-subtitle{
margin-top:-.2em;
margin-bottom:.2em;
font-size:1.4em;
color:#3b546b;
border-bottom:0;
}

.article-header{
margin-bottom:1em;
}

.article.page .article-header{
border-bottom:1px solid #b0afaf;
}

.article-content{
font-weight:100;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6{
color:#435559;
}

.article-content h1{
font-weight:700;
}

.article-content h2{
font-weight:700;
}

.article-content h3{
font-weight:700;
}

.article-content h4{
font-weight:400;
}

.article-content h5{
font-weight:100;
}

.article-content h6{
font-weight:bold;
}

.post-thumb{
float:left;
margin:0 1em 1em 0;
width:12.5em;
}

.post-excerpt{
margin-left:13.5em;
}

.post-excerpt h2, .post-excerpt h1, .post-excerpt h3, .post-excerpt h4, .post-excerpt h5, .post-excerpt h6{
color:#23a8f5;
font-weight:bold;
}

.read-more{
float:right;
margin-bottom:1em;
}

.read-more .btn{
padding:.5em 1em;
font-family:'CalvertMT', sans-serif;
text-transform:uppercase;
color:#fff;
background:#222;
border-radius:0;
}

.read-more .btn:hover{
color:#122435;
background:#23a8f5;
}

.article-footer{
font-size:0.9em;
}

.post-author,
.post-date,
.post-comments-count{
clear:left;
}

.article-footer .post-author a:before,
.article-footer .post-date a:before,
.article-footer .post-comments-count a:before{
content:"";
display:inline-block;
margin-right:.3em;
width:20px;
height:12px;
background:transparent url('../imgs/icons.png')0 -60px no-repeat scroll;
}

.article-footer .post-author a{
color:#23a8f5;
}

.article-footer .post-date a{
color:#122435;
}

.article-footer .post-date a:before{
background-position:-20px -60px;
}

.article-footer .post-comments-count a{
color:red;
}

.article-footer .post-comments-count a:before{
background-position:-40px -60px;
}

/* User article */
.article.user .post-thumb{
float:initial;
margin:initial;
text-align:center;
width:initial;
}

.article-content .user-name{
font-size:1.2em;
color:#4b5757;
white-space:pre;
}

.article-content ul.social{
padding-top:0;
margin:0 auto;
}

ul.social img{
padding-top:0;
margin:0 auto;
height:28px;
}

.article.user.col-md-offset-1{
margin-left:8.33333333%;
}

/* ---------- Lists ---------- */
ul.strip-list{padding-left:0;}
ul.strip-list li{list-style:none;}

/* ---------- Pagination ---------- */
.pagination > li > a{
font-weight:bold;
border:0;
color:#214253;
background:#23a8f5;
}

.pagination > li.active > a{
background:#222;
}

.pagination > li > a:hover{
background-color:#428bca;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{
border-radius:0;
}

/* ---------- Labels ---------- */
.label{
text-align:left;
padding-top:.6em;
padding-bottom:.6em;
border-radius:0;
}
.label.label-info{
background:#23a8f5;
}

.label.label-primary{
background:#132436
}

/* ---------- Panel ---------- */
.panel.panel-striped{
border:0 none;
background:transparent;
box-shadow:none;
}

.panel.panel-striped .panel-heading{
color:#fff;
border-radius:0;
background:#23a8f5;
}

.panel.panel-striped .panel-title{
color:#fff;
font-weight:bold;
}

.panel.panel-striped li.list-group-item{
font-weight:100;
border:0 none transparent;
padding-left:1.5em;
}

.panel.panel-striped li.list-group-item:before{
content:">";
display:block;
margin-left:-1.5em;
float:left;
}

.panel>.list-group:last-child .list-group-item:last-child{
border:none;
}

/* ---------- Slider ---------- */
#header-carousel{

}

#header-carousel .carousel-inner{
height:264px;
border:1px solid #7e94a9;
}

.widget-title{
margin:0 0 .4em 0;
padding-bottom:.2em;
color:#3b546b;
font-size:1.2em;
font-weight:700;
letter-spacing:-1px;
text-transform:uppercase;
border-bottom:1px solid #000;
white-space:pre;
}

.widget-title span{
color:#23a8f5;
}

#sidebar{

}

#sidebar .widget{
border:1px solid #000;
padding:15px;
margin:0 0 15px 0;
}

#sidebar ul{
list-style:none;
padding-left:0;
}

#sidebar ul a{
color:#000;
}

#sidebar ul li:first-child a{
color:#23a8f5;
}

/* Footer */
#footer{
background:#f3f2f2;
}

#footer .wrapper{
padding:3em 0 2.6em;
}

#copy-rights{
padding:.9em 0 .8em 2.6em;
color:#fff;
font-weight:100;
background:#3b546b;
}

#footer .widget .widget-content{
font-weight:100;
font-size:.9em;
}

#footer .widget a{
color:#000;
}


/* ---------- Page elements ---------- */
h4{font-weight:400;}
h4 + p{margin-top:1em;}
p + h4{margin-top:1.2em;}


.quote{margin:1em 0 3em;}
.source+h3{margin-top:.2em;}

.table-striped > tbody > tr:nth-child(odd)> td, .table-striped > tbody > tr:nth-child(odd)> th{
background-color:#dbecf4;
}
.table-striped > tbody > tr:nth-child(even)> td, .table-striped > tbody > tr:nth-child(even)> th{
background-color:#f4f9fc;
}


/* ---------- Widgets ---------- */
/* Blog posts */
#sidebar .blog-posts{
padding:15px 0;
border-color:transparent;
}

#sidebar .blog-posts .widget-title{
margin-bottom:0;
padding:0 15px .4em;
}

.blog-posts li{
display:block;
padding:.8em .1em 1em;
clear:both;
border-bottom:1px solid #000;
}

.blog-posts li:last-child{
border-bottom:transparent;
padding-bottom:0;
}

.blog-posts .thumb{
float:left;
margin:0 .5em .5em 0;
}

.blog-posts *{
font-family:'CalvertMT' , sans-serif;
color:#3b546b;
}

/* Event Schedules */
.widget.event-schedules p{
margin-bottom:0;
font-size:.9em;
font-weight:100;
}

.widget.event-schedules li{
margin-bottom:1em;
}

.widget.event-schedules p.event-theme, .widget.event-schedules p.date{
font-weight:bold;
}

/* Banner */
#sidebar .widget.banner{
padding:0;
}

#sidebar .widget.text{
padding:0;
border:0 none;
}

#sidebar .widget.text .widget-title{
padding:0 15px .4em;
}

/* Archives */
#sidebar .widget.arhives ul li:first-child a{
color:initial;
}

/* Social */
ul.social{
padding:3em 0;
width:100%;
}

.social li{
display:block;
float:left;
width:25%;
text-align:center;
}


/* ---------- carousel ---------- */
.carousel-caption{
right:2%;
left:2%;
padding-bottom:0;
vertical-align:middle;
}

.carousel-caption h1{
font-size:2.6em;
font-weight:bold;
text-shadow:none;
color:#afb3b7;
letter-spacing:-3px;
}

.carousel-caption p{
color:#afb3b7;
text-transform:uppercase;
text-shadow:none;
}

.carousel-caption .btn.btn-lg{
font-weight:bold;
color:#000;
border-radius:0;
background:#7bc9da;
box-shadow:2px 2px 2px #000;
box-shadow:2px 2px 2px rgba(0,0,0,.44);
}

.carousel .control{
display:block;
width:48px;
float:left;
left:50%;
position:relative;
margin:14px 0 0 -58px;
}

.carousel .control.right{
margin-left:10px;
}

.carousel .control .control-ico{
display:block;
float:right;
width:48px;
height:48px;
background:transparent url('../imgs/icons.png')0 -2px no-repeat scroll;
}

.carousel .control.right .control-ico{
float:left;
background-position:-52px -2px;
}

.carousel-inner .item{
min-height:264px;
}

/*---------- SyntaxHighlighter ---------*/
pre.code.java.sh_html.snippet-formatted.sh_sourceCode {
background:transparent;
box-shadow:none;
border-radius:0;
border:0;
}
/*---------- dull Styles ---------*/
.sh_dull{background:none; padding:0; margin:0; border:0 none;}
.sh_dull .sh_sourceCode{background-color:#bfbfbf;color:#656565;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_keyword{color:#00659b;font-weight:bold;font-style:normal;}
.sh_dull .sh_sourceCode .sh_type{color:#3241c6;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_string{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_regexp{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_specialchar{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_comment{color:#d11d20;font-weight:normal;font-style:italic;}
.sh_dull .sh_sourceCode .sh_number{color:#16930d;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_preproc{color:#003;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_symbol{color:#222;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_function{color:#38255c;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_cbracket{color:#222;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_url{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_date{color:#353535;font-weight:bold;font-style:normal;}
.sh_dull .sh_sourceCode .sh_time{color:#353535;font-weight:bold;font-style:normal;}
.sh_dull .sh_sourceCode .sh_file{color:#353535;font-weight:bold;font-style:normal;}
.sh_dull .sh_sourceCode .sh_ip{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_name{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_variable{color:#ae5a16;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_oldfile{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_newfile{color:#059;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_difflines{color:#353535;font-weight:bold;font-style:normal;}
.sh_dull .sh_sourceCode .sh_selector{color:#ae5a16;font-weight:normal;font-style:normal;}
.sh_dull .sh_sourceCode .sh_property{color:#353535;font-weight:bold;font-style:normal;}
.sh_dull .sh_sourceCode .sh_value{color:#059;font-weight:normal;font-style:normal;}

/*-------- Snippet Base Styles ----------*/
.snippet-wrap {position:relative;}
*:first-child+html .snippet-wrap {display:inline-block;}
* html .snippet-wrap {display:inline-block;}
.snippet-reveal{text-decoration:underline;}
.snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {position:absolute; top:10px; right:15px; font-size:.9em;z-index:1;background-color:transparent;}
.snippet-wrap .snippet-hide {top:auto; bottom:10px;}
*:first-child+html .snippet-wrap .snippet-hide {bottom:25px;}
* html .snippet-wrap .snippet-hide {bottom:25px;}
.snippet-wrap .snippet-menu pre, .snippet-wrap .snippet-hide pre {background-color:transparent; margin:0; padding:0;}
.snippet-wrap .snippet-menu a, .snippet-wrap .snippet-hide a {padding:0 5px; text-decoration:underline;}
.snippet-wrap pre.sh_sourceCode{padding:1em;line-height:1.8em;overflow:auto;position:relative;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
box-shadow:2px 2px 5px #000;
-moz-box-shadow:2px 2px 5px #000;
-webkit-box-shadow:2px 2px 5px #000;}
.snippet-wrap pre.snippet-textonly {padding:2em;}
*:first-child+html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
* html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
.snippet-reveal pre.sh_sourceCode {padding:.5em 1em; text-align:right;}
.snippet-wrap .snippet-num li{padding-left:1.5em;}
.snippet-wrap .snippet-no-num{list-style:none; padding:.6em 1em; margin:0;}
.snippet-wrap .snippet-no-num li {list-style:none; padding-left:0;}
.snippet-wrap .snippet-num {margin:1em 0; padding-left:2em;}
.snippet-wrap .snippet-num li {list-style:decimal outside none;border-left:3px solid #67e466;}
.snippet-wrap .snippet-no-num li.box {padding:0 6px; margin-left:-6px;}
.snippet-wrap .snippet-num li.box {border:1px solid; list-style-position:inside; margin-left:-3em; padding-left:6px;}
*:first-child+html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
* html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
.snippet-wrap li.box-top {border-width:1px 1px 0 !important;}
.snippet-wrap li.box-bot {border-width:0 1px 1px !important;}
.snippet-wrap li.box-mid {border-width:0 1px !important;}
.snippet-wrap .snippet-num li .box-sp {width:18px; display:inline-block;}
*:first-child+html .snippet-wrap .snippet-num li .box-sp {width:27px;}
* html .snippet-wrap .snippet-num li .box-sp {width:27px;}
.snippet-wrap .snippet-no-num li.box {border:1px solid;}
.snippet-wrap .snippet-no-num li .box-sp {display:none;}


/*-------- Responsive ----------*/
@media(max-width:1023px){
.widget-title{white-space:pre-line;}
.widget-area:first-child{margin-top:0;}
.widget-area{margin-top:2em;margin-bottom:1em;}
.post-excerpt{margin-left:0;}
}

@media(max-width:1200px){
.widget-title{white-space:pre-line;}
}

@media(min-width:768px)and (max-width:991px){
#header>.wrapper,.main-content>.wrapper,#footer>.wrapper{margin-left:2em;margin-right:2em;}
.main-content>.wrapper{margin-left:3em;margin-right:3em;}
#description{padding-bottom:6em;display:block;}
#sidebar{margin-left:-15px;margin-right:-15px;}
}

@media(max-width:767px){
#header>.wrapper,.main-content>.wrapper,#footer>.wrapper{margin-left:1em;margin-right:1em;}
.main-content>.wrapper{margin-left:1em;margin-right:1em;}
#sidebar{margin-left:-15px;margin-right:-15px;}
#description{padding-bottom:4em;display:block;}
.article-footer > span{
float:left;
width:100%;
}
}

@media(max-width:479px){
#site-title{font-size:3em;}
.carousel.slide{display:none;}
}
